---
import Image from 'astro/components/Image.astro';

import Layout from '@/layouts/Layout.astro';
---

<Layout title="Sukitex">
	<main>
		<section id="carousel" class="splide" aria-label="Carousel">
			<div class="splide__track">
				<div class="splide__list">
					<div class="splide__slide">
						<div class="relative">
							<div class="absolute top-0 start-0 h-full w-full bg-dark/50"></div>
							<Image src="/img/juki-min.jpg" alt="Sewing Machine" class="h-screen w-screen object-cover" width="1920" height="1080" loading="eager" />
							<div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-center">
								<h1 class="text-6xl leading-tight mb-8">
									Premium couture team.
									<br>
									High-end suits.
								</h1>
								<p class="font-medium text-lg mb-8">At vero justoprovident, similique sunt in culpa mi quis hendrerit...</p>
								<a href="/" class="block w-fit mx-auto border border-dashed rounded-bl-xl rounded-tr-xl duration-200 hover:rounded-bl-none hover:rounded-br-xl hover:rounded-tr-none hover:rounded-tl-xl py-3 px-16 tracking-widest text-xs">DESCUBRIR</a>
							</div>
						</div>
					</div>
					<div class="splide__slide">
						<div class="relative">
							<Image src="/img/main-home-img-1.jpg" alt="Sewing Machine" class="h-screen w-screen object-cover" width="1920" height="1080" loading="eager" />
							<div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-center">
								<h1 class="text-6xl leading-tight mb-8">
									Premium couture team.
									<br>
									High-end suits.
								</h1>
								<p class="font-medium text-lg mb-8">At vero justoprovident, similique sunt in culpa mi quis hendrerit...</p>
								<a href="/" class="block w-fit mx-auto border border-dashed rounded-bl-xl rounded-tr-xl duration-200 hover:rounded-bl-none hover:rounded-br-xl hover:rounded-tr-none hover:rounded-tl-xl py-3 px-16 tracking-widest text-xs">DESCUBRIR</a>
							</div>
						</div>
					</div>
					<div class="splide__slide">
						<div class="relative">
							<Image src="/img/main-home-img-1.jpg" alt="Sewing Machine" class="h-screen w-screen object-cover" width="1920" height="1080" loading="eager" />
							<div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-center">
								<h1 class="text-6xl leading-tight mb-8">
									Premium couture team.
									<br>
									High-end suits.
								</h1>
								<p class="font-medium text-lg mb-8">At vero justoprovident, similique sunt in culpa mi quis hendrerit...</p>
								<a href="/" class="block w-fit mx-auto border border-dashed rounded-bl-xl rounded-tr-xl duration-200 hover:rounded-bl-none hover:rounded-br-xl hover:rounded-tr-none hover:rounded-tl-xl py-3 px-16 tracking-widest text-xs">DESCUBRIR</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-light py-24">
			<div class="container mx-auto">
				<div class="text-center relative">
					<span class="absolute top-0 start-0 w-4 h-4 bg-primary"></span>
					<span class="absolute bottom-0 end-0 w-12 h-12 bg-primary"></span>
					<h6 class="text-primary text-xl font-semibold tracking-widest mb-6">NUESTRA MISIÓN</h6>
					<h3 class="text-balance text-4xl font-ibarra mb-6">"Our expert tailors provide collaborative, empathetic and safe experiences, crafting custom clothing that boosts confidence."</h3>
					<div>
						<h4 class="text-xl">Elizabeth Sucapuca</h4>
						<p class="text-gray-400 text-lg">CEO de Sukitex</p>
					</div>
				</div>
			</div>
		</section>

		<section class="py-24">
			<div class="container mx-auto">
				<div class="grid grid-cols-2 items-center">
					<div>
						<h2 class="text-4xl mb-3">
							Individuality of you design.
							<br>
							Create your style.
						</h2>
						<p class="font-ibarra italic text-gray-400">High Quality Tailor</p>
					</div>
					<div>
						<p class="text-balance">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas</p>
					</div>
				</div>
			</div>
		</section>

		<hr>

		<section class="py-24">
			<div id="services" class="container mx-auto splide" aria-label="Carousel">
				<div class="splide__track">
					<div class="splide__list">
						<div class="splide__slide">
							<div class="aspect-[2/3] relative mb-6">
								<Image src="https://casacrossperu.com/wp-content/uploads/2022/12/IMG_2654-scaled.jpg" alt="Sewing Machine" class="h-full w-full object-cover rounded-t-full" width="800" height="1200" loading="eager" />
							</div>
							<div class="text-center">
								<h2 class="text-2xl">Casacas de Promoción</h2>
								<p class="font-ibarra italic text-gray-400">Custom Tailored</p>
							</div>
						</div>
						<div class="splide__slide">
							<div class="aspect-[2/3] relative mb-6">
								<Image src="https://hsmcj.org/assets/img/apostolado/colegios/uniforme/unif1.jpg" alt="Sewing Machine" class="h-full w-full object-cover" width="800" height="1200" loading="eager" />
							</div>
							<div class="text-center">
								<h2 class="text-2xl">Uniformes Escolares</h2>
								<p class="font-ibarra italic text-gray-400">Custom Tailored</p>
							</div>
						</div>
						<div class="splide__slide">
							<div class="aspect-[2/3] relative mb-6">
								<Image src="https://mohair.qodeinteractive.com/wp-content/uploads/2023/05/main-home-png-2.png" alt="Sewing Machine" class="h-full w-full object-cover rounded-b-full" width="800" height="1200" loading="eager" />
							</div>
							<div class="text-center">
								<h2 class="text-2xl">Body Measure</h2>
								<p class="font-ibarra italic text-gray-400">Custom Tailored</p>
							</div>
						</div>
						<div class="splide__slide">
							<div class="aspect-[2/3] relative mb-6">
								<Image src="https://mohair.qodeinteractive.com/wp-content/uploads/2023/04/main-home-img-5.jpg" alt="Sewing Machine" class="h-full w-full object-cover" width="800" height="1200" loading="eager" />
							</div>
							<div class="text-center">
								<h2 class="text-2xl">Body Measure</h2>
								<p class="font-ibarra italic text-gray-400">Custom Tailored</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="bg-dark">
			<div class="grid grid-cols-2">
				<div class="aspect-square">
					<Image src="https://mohair.qodeinteractive.com/wp-content/uploads/2023/04/main-home-img-8.jpg" alt="Experts" class="h-full w-full object-cover" width="1200" height="1200" loading="eager" />
				</div>
				<div class="self-end text-white p-48">
					<h2 class="text-4xl mb-2">Exquisite Designs Crafted by Experts</h2>
					<span class="block font-ibarra italic text-gray-400 mb-4">High Quality</span>
					<p class="text-lg mb-8">At vero eos et accusamus et justo odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti cupiditate non provident, similique sunt in culpa...</p>
					<a href="/" class="block w-fit border border-dashed rounded-bl-xl rounded-tr-xl duration-200 hover:rounded-bl-none hover:rounded-br-xl hover:rounded-tr-none hover:rounded-tl-xl py-3 px-16 tracking-widest text-xs">EXPLORAR</a>
				</div>
			</div>
		</section>

		<section class="py-24">
			<div class="container mx-auto">
				<div class="text-center mb-12">
					<h2 class="text-4xl mb-3">Subscribe to out newsletter</h2>
					<p class="font-ibarra italic text-gray-400">High Quality Tailor</p>
				</div>
				<div class="grid grid-cols-3 gap-6">
					<div>
						<div class="bg-dashed p-16">
							<h5 class="text-2xl mb-2">
								“The wise man therefore always
								holds in these matters to this
								principle of selection. Donec a
								eros libero, dignissim eget”
							</h5>
							<p class="text-gray-400 font-ibarra italic text-lg">Elizabeth Sucapuca <small>(CEO de Sukitex)</small></p>
						</div>
					</div>
					<div class="aspect-[4/3]">
						<Image src="https://mohair.qodeinteractive.com/wp-content/uploads/2023/04/blog-img-15.jpg" alt="Experts" class="h-full w-full object-cover" width="600" height="600" loading="eager" />
					</div>
					<div class="aspect-video">
						<Image src="https://mohair.qodeinteractive.com/wp-content/uploads/2023/04/blog-img-17.jpg" alt="Experts" class="h-full w-full object-cover" width="600" height="600" loading="eager" />
					</div>
					<div class="aspect-[4/3]">
						<Image src="https://mohair.qodeinteractive.com/wp-content/uploads/2023/04/blog-img-16.jpg" alt="Experts" class="h-full w-full object-cover" width="600" height="600" loading="eager" />
					</div>
					<div class="aspect-video">
						<Image src="https://mohair.qodeinteractive.com/wp-content/uploads/2023/04/blog-img-18.jpg" alt="Experts" class="h-full w-full object-cover" width="600" height="600" loading="eager" />
					</div>
					<div>
						<div class="bg-light p-16">
							<h5 class="text-2xl mb-2">Needlework tailoring materials</h5>
							<p class="text-sm tracking-widest">WEDDING OR CASUAL SUITS SERVICES?</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<hr>

		<section class="py-24">
			<div class="container mx-auto">
				<div class="text-center mb-24">
					<p class="font-ibarra italic text-xl">"Comprometidos a brindar la mejor calidad a nuestros clientes"</p>
				</div>
				
				<div id="slider" class="splide" aria-label="Slider">
					<div class="splide__track">
						<div class="absolute top-0 start-0 h-full w-full bg-gradient-to-r from-white to-transparent to-5% z-10"></div>
						<div class="absolute top-0 start-0 h-full w-full bg-gradient-to-l from-white to-transparent to-5% z-10"></div>
						<div class="splide__list items-center">
							<div class="splide__slide">
								<Image src="https://hubhtml.liquid-themes.com/assets/images/demo/company/client-dropcam-1.svg" alt="dropcam" width="121" height="23" loading="eager">
							</div>
							<div class="splide__slide">
								<Image src="https://hubhtml.liquid-themes.com/assets/images/demo/company/client-digitallogo-1.svg" alt="digitallogo" width="121" height="23" loading="eager">
							</div>
							<div class="splide__slide">
								<Image src="https://hubhtml.liquid-themes.com/assets/images/demo/company/client-logo-7-2.svg" alt="Apper" width="80" height="64" loading="eager">
							</div>
							<div class="splide__slide">
								<Image src="https://hubhtml.liquid-themes.com/assets/images/demo/company/client-yahoofinance-2.svg" alt="yahoofinance" width="86" height="31" loading="eager">
							</div>
							<div class="splide__slide">
								<Image src="https://hubhtml.liquid-themes.com/assets/images/demo/company/client-dhl-2.svg" alt="dhl" width="80" height="11" loading="eager">
							</div>
							<div class="splide__slide">
								<Image src="https://hubhtml.liquid-themes.com/assets/images/demo/company/client-entr-2.svg" alt="entr" width="118" height="23" loading="eager">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>

<script>
	import "@splidejs/splide/css";
	import { Splide } from "@splidejs/splide";
	import { AutoScroll } from "@splidejs/splide-extension-auto-scroll";

	new Splide("#carousel", {
		type: "loop",
		classes: {
			arrows: "splide__arrows your-class-arrows",
			arrow : "splide__arrow your-class-arrow !bg-transparent [&>svg]:!fill-white",
			prev  : "splide__arrow--prev your-class-prev",
			next  : "splide__arrow--next your-class-next",
		},
	}).mount();

	new Splide("#services", {
		type: "loop",
		autoplay: true,
		perPage: 4,
		interval: 2000,
		perMove: 1,
		gap: "4rem",
		pagination: false,
		arrows: false
	}).mount();

	new Splide("#slider", {
		type: "loop",
		perPage: 5,
		gap: "1.5rem",
		pagination: false,
		arrows: false
	}).mount( { AutoScroll } );
</script>