<footer class="bg-dark bg-[url('https://mohair.qodeinteractive.com/wp-content/uploads/2023/04/main-home-png-7.png')] bg-center bg-no-repeat bg-cover py-36 text-white">
	<div class="container mx-auto">
		<div class="grid grid-cols-4 gap-6">
			<div>
				<h2 class="text-2xl tracking-widest mb-6">SUKITEX</h2>
				<p class="text-gray-400 text-lg mb-6">Discover the finest tailor and haute couture studio in town, get in touch with us and let’s start the work on your new suit together.</p>
				<ul class="flex gap-6">
					<li>
						<a href="https://wa.me/51948669513" class="">
							<i class="fa-brands fa-whatsapp fa-fw"></i>
						</a>
					</li>
					<li>
						<a href="mailto:contacto@sukitex.com" class="">
							<i class="fa-regular fa-envelope fa-fw"></i>
						</a>
					</li>
					<li>
						<a href="https://instagram.com/sukitex" class="">
							<i class="fa-brands fa-instagram fa-fw"></i>
						</a>
					</li>
					<li>
						<a href="https://facebook.com/sukitex" class="">
							<i class="fa-brands fa-facebook-f fa-fw"></i>
						</a>
					</li>
				</ul>
			</div>
			<div>
				<h2 class="text-2xl tracking-widest mb-6">Información</h2>
				<ul class="text-gray-400 text-lg flex flex-col gap-3">
					<li>contacto@sukitex.pe</li>
					<li>+51 948 669 513</li>
					<li>Daniel A. Carrión 173, Lurigancho - Chosica</li>
					<li>de Lunes a Sábados 9am - 6pm</li>
				</ul>
			</div>
		</div>
	</div>
</footer>